
# Ignore virtual environment
FirstProject/
__pycache__/
*.pyc
FirstProject/































































































































